.hero{
    width: 100%;
    min-height: 110vh;
    background: url(/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
    width: 90%;
    margin: 120px auto;
}
.left, .right{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 10px;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    pointer-events: none;
    overflow: hidden;
}

.background span {
    width: 4px;
    height: 4px;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 50;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #ffffff;
    top: 99%;
    left: 85%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -14vw 6vh;
    box-shadow: 2vmin 0 0.4122248309811547vmin currentColor;
}
.background span:nth-child(1) {
    color: #ffffff;
    top: 52%;
    left: 6%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -15vw -4vh;
    box-shadow: -2vmin 0 0.5275268694178961vmin currentColor;
}
.background span:nth-child(2) {
    color: #ffffff;
    top: 85%;
    left: 100%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -24vw -24vh;
    box-shadow: -2vmin 0 0.8758515881296232vmin currentColor;
}
.background span:nth-child(3) {
    color: #ffffff;
    top: 82%;
    left: 77%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -12vw -8vh;
    box-shadow: -2vmin 0 0.8586606425459504vmin currentColor;
}
.background span:nth-child(4) {
    color: #ffffff;
    top: 35%;
    left: 74%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -7vw 9vh;
    box-shadow: 2vmin 0 1.0836200928514308vmin currentColor;
}
.background span:nth-child(5) {
    color: #ffffff;
    top: 44%;
    left: 12%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -10vw 0vh;
    box-shadow: 2vmin 0 0.3439829537850063vmin currentColor;
}
.background span:nth-child(6) {
    color: #ffffff;
    top: 80%;
    left: 42%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -14vw -1vh;
    box-shadow: -2vmin 0 0.267527732931768vmin currentColor;
}
.background span:nth-child(7) {
    color: #ffffff;
    top: 31%;
    left: 84%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -9vw -19vh;
    box-shadow: 2vmin 0 0.4498655071132187vmin currentColor;
}
.background span:nth-child(8) {
    color: #ffffff;
    top: 49%;
    left: 90%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -5vw -11vh;
    box-shadow: 2vmin 0 0.2550020376373241vmin currentColor;
}
.background span:nth-child(9) {
    color: #ffffff;
    top: 40%;
    left: 58%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -18vw -10vh;
    box-shadow: -2vmin 0 0.5155110462628745vmin currentColor;
}
.background span:nth-child(10) {
    color: #ffffff;
    top: 74%;
    left: 4%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -24vw 3vh;
    box-shadow: 2vmin 0 0.6977537861232701vmin currentColor;
}
.background span:nth-child(11) {
    color: #ffffff;
    top: 67%;
    left: 19%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -11vw 20vh;
    box-shadow: 2vmin 0 1.1790380839084726vmin currentColor;
}
.background span:nth-child(12) {
    color: #ffffff;
    top: 18%;
    left: 70%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 6vw 5vh;
    box-shadow: 2vmin 0 1.0388749602031457vmin currentColor;
}
.background span:nth-child(13) {
    color: #ffffff;
    top: 56%;
    left: 47%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -11vw -5vh;
    box-shadow: -2vmin 0 0.5592754386945851vmin currentColor;
}
.background span:nth-child(14) {
    color: #ffffff;
    top: 1%;
    left: 84%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 8vw -16vh;
    box-shadow: 2vmin 0 0.25295859732343895vmin currentColor;
}
.background span:nth-child(15) {
    color: #ffffff;
    top: 69%;
    left: 87%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 4vw 15vh;
    box-shadow: -2vmin 0 1.1928228929321778vmin currentColor;
}
.background span:nth-child(16) {
    color: #ffffff;
    top: 11%;
    left: 88%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 16vw 15vh;
    box-shadow: 2vmin 0 0.27331924615305225vmin currentColor;
}
.background span:nth-child(17) {
    color: #ffffff;
    top: 13%;
    left: 47%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 24vw 22vh;
    box-shadow: -2vmin 0 0.5989163238273965vmin currentColor;
}
.background span:nth-child(18) {
    color: #ffffff;
    top: 20%;
    left: 50%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -14vw -19vh;
    box-shadow: -2vmin 0 0.3798756647731101vmin currentColor;
}
.background span:nth-child(19) {
    color: #ffffff;
    top: 4%;
    left: 76%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -11vw 12vh;
    box-shadow: -2vmin 0 1.1069617438195838vmin currentColor;
}
.background span:nth-child(20) {
    color: #ffffff;
    top: 57%;
    left: 12%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 3vw 11vh;
    box-shadow: 2vmin 0 1.0687149682966575vmin currentColor;
}
.background span:nth-child(21) {
    color: #ffffff;
    top: 20%;
    left: 91%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -6vw 17vh;
    box-shadow: -2vmin 0 0.699573634833597vmin currentColor;
}
.background span:nth-child(22) {
    color: #ffffff;
    top: 88%;
    left: 80%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -17vw 16vh;
    box-shadow: -2vmin 0 0.8876355012853938vmin currentColor;
}
.background span:nth-child(23) {
    color: #ffffff;
    top: 1%;
    left: 18%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 5vw 2vh;
    box-shadow: 2vmin 0 0.3637958829161263vmin currentColor;
}
.background span:nth-child(24) {
    color: #ffffff;
    top: 100%;
    left: 85%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -1vw -3vh;
    box-shadow: -2vmin 0 0.6165529839826307vmin currentColor;
}
.background span:nth-child(25) {
    color: #ffffff;
    top: 32%;
    left: 91%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 17vw -2vh;
    box-shadow: -2vmin 0 1.1967000141804338vmin currentColor;
}
.background span:nth-child(26) {
    color: #ffffff;
    top: 71%;
    left: 49%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -4vw -7vh;
    box-shadow: 2vmin 0 0.30708315916233975vmin currentColor;
}
.background span:nth-child(27) {
    color: #ffffff;
    top: 12%;
    left: 8%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -11vw 21vh;
    box-shadow: 2vmin 0 0.8125287578887699vmin currentColor;
}
.background span:nth-child(28) {
    color: #ffffff;
    top: 47%;
    left: 44%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 9vw 18vh;
    box-shadow: -2vmin 0 0.2707924200722045vmin currentColor;
}
.background span:nth-child(29) {
    color: #ffffff;
    top: 55%;
    left: 19%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 15vw 18vh;
    box-shadow: 2vmin 0 0.8683393119973541vmin currentColor;
}
.background span:nth-child(30) {
    color: #ffffff;
    top: 55%;
    left: 95%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 10vw -1vh;
    box-shadow: 2vmin 0 0.3492836733790312vmin currentColor;
}
.background span:nth-child(31) {
    color: #ffffff;
    top: 81%;
    left: 9%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 0vw 12vh;
    box-shadow: -2vmin 0 1.0777516439667432vmin currentColor;
}
.background span:nth-child(32) {
    color: #ffffff;
    top: 81%;
    left: 77%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 20vw 19vh;
    box-shadow: -2vmin 0 1.243367883290006vmin currentColor;
}
.background span:nth-child(33) {
    color: #ffffff;
    top: 16%;
    left: 94%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 18vw -18vh;
    box-shadow: -2vmin 0 0.46299348019406006vmin currentColor;
}
.background span:nth-child(34) {
    color: #ffffff;
    top: 61%;
    left: 64%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -9vw -24vh;
    box-shadow: 2vmin 0 0.5433398506815801vmin currentColor;
}
.background span:nth-child(35) {
    color: #ffffff;
    top: 54%;
    left: 3%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -22vw -12vh;
    box-shadow: 2vmin 0 1.03347868057147vmin currentColor;
}
.background span:nth-child(36) {
    color: #ffffff;
    top: 29%;
    left: 56%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -16vw -2vh;
    box-shadow: 2vmin 0 0.29908816774520286vmin currentColor;
}
.background span:nth-child(37) {
    color: #ffffff;
    top: 94%;
    left: 90%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 4vw 1vh;
    box-shadow: 2vmin 0 0.8741431891292626vmin currentColor;
}
.background span:nth-child(38) {
    color: #ffffff;
    top: 32%;
    left: 33%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -2vw 7vh;
    box-shadow: -2vmin 0 0.6151804561412582vmin currentColor;
}
.background span:nth-child(39) {
    color: #ffffff;
    top: 65%;
    left: 52%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 0vw -4vh;
    box-shadow: -2vmin 0 0.26683045208282574vmin currentColor;
}
.background span:nth-child(40) {
    color: #ffffff;
    top: 67%;
    left: 25%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 9vw 19vh;
    box-shadow: 2vmin 0 0.99877116641646vmin currentColor;
}
.background span:nth-child(41) {
    color: #ffffff;
    top: 16%;
    left: 66%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 20vw -17vh;
    box-shadow: 2vmin 0 0.5965394499891541vmin currentColor;
}
.background span:nth-child(42) {
    color: #ffffff;
    top: 96%;
    left: 19%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 19vw 0vh;
    box-shadow: 2vmin 0 0.6496698590986241vmin currentColor;
}
.background span:nth-child(43) {
    color: #ffffff;
    top: 9%;
    left: 98%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 2vw -6vh;
    box-shadow: 2vmin 0 0.6097575093008052vmin currentColor;
}
.background span:nth-child(44) {
    color: #ffffff;
    top: 27%;
    left: 31%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 7vw 13vh;
    box-shadow: 2vmin 0 0.2709461564827367vmin currentColor;
}
.background span:nth-child(45) {
    color: #ffffff;
    top: 95%;
    left: 13%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -4vw 11vh;
    box-shadow: 2vmin 0 0.43324124229759176vmin currentColor;
}
.background span:nth-child(46) {
    color: #ffffff;
    top: 32%;
    left: 54%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 16vw 7vh;
    box-shadow: 2vmin 0 0.8264423444515603vmin currentColor;
}
.background span:nth-child(47) {
    color: #ffffff;
    top: 12%;
    left: 71%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 19vw -14vh;
    box-shadow: 2vmin 0 0.6154153001816669vmin currentColor;
}
.background span:nth-child(48) {
    color: #ffffff;
    top: 56%;
    left: 41%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 19vw -24vh;
    box-shadow: -2vmin 0 0.903741538134708vmin currentColor;
}
.background span:nth-child(49) {
    color: #ffffff;
    top: 70%;
    left: 76%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 23vw 11vh;
    box-shadow: 2vmin 0 0.8729796246545649vmin currentColor;
}

.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.middle .atom{
    width: 40%;
    filter: drop-shadow(20px 20px 100px #fff);
}

@media only screen and (max-width: 768px) {
    .hero-grid{
        grid-template-columns: 1fr;
        width: 100%;
        margin: 20px auto;
        gap: 10%;
    }
    .hero{
        background: linear-gradient(90deg, #E60A63, #FE036A);
        min-height: 100vh;
    }
}