.incubator{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 600px;
    position: relative;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    pointer-events: none;
    overflow: hidden;
}

.background span {
    width: 1vmin;
    height: 1vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 50;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #ffffff;
    top: 91%;
    left: 80%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 3vw 18vh;
    box-shadow: 2vmin 0 1.005008886371843vmin currentColor;
}
.background span:nth-child(1) {
    color: #ffffff;
    top: 88%;
    left: 73%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -9vw 11vh;
    box-shadow: 2vmin 0 0.4244235504961056vmin currentColor;
}
.background span:nth-child(2) {
    color: #ffffff;
    top: 25%;
    left: 37%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 19vw 15vh;
    box-shadow: -2vmin 0 1.0888927893545444vmin currentColor;
}
.background span:nth-child(3) {
    color: #ffffff;
    top: 42%;
    left: 84%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 4vw 2vh;
    box-shadow: -2vmin 0 1.0937708391948817vmin currentColor;
}
.background span:nth-child(4) {
    color: #ffffff;
    top: 66%;
    left: 23%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -1vw 20vh;
    box-shadow: -2vmin 0 0.5348340055209142vmin currentColor;
}
.background span:nth-child(5) {
    color: #ffffff;
    top: 82%;
    left: 82%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 6vw -8vh;
    box-shadow: 2vmin 0 0.9861831018509735vmin currentColor;
}
.background span:nth-child(6) {
    color: #ffffff;
    top: 16%;
    left: 5%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 6vw -10vh;
    box-shadow: -2vmin 0 0.5449870354294295vmin currentColor;
}
.background span:nth-child(7) {
    color: #ffffff;
    top: 64%;
    left: 21%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 7vw 19vh;
    box-shadow: 2vmin 0 0.3244751009498954vmin currentColor;
}
.background span:nth-child(8) {
    color: #ffffff;
    top: 86%;
    left: 49%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 17vw 11vh;
    box-shadow: -2vmin 0 0.7187188945785024vmin currentColor;
}
.background span:nth-child(9) {
    color: #ffffff;
    top: 31%;
    left: 12%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -6vw -18vh;
    box-shadow: 2vmin 0 0.8091866918799984vmin currentColor;
}
.background span:nth-child(10) {
    color: #ffffff;
    top: 8%;
    left: 85%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -14vw -4vh;
    box-shadow: -2vmin 0 0.7455209643120084vmin currentColor;
}
.background span:nth-child(11) {
    color: #ffffff;
    top: 3%;
    left: 74%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 12vw 18vh;
    box-shadow: 2vmin 0 0.4800116262276082vmin currentColor;
}
.background span:nth-child(12) {
    color: #ffffff;
    top: 66%;
    left: 83%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 12vw 3vh;
    box-shadow: 2vmin 0 0.6692061848503439vmin currentColor;
}
.background span:nth-child(13) {
    color: #ffffff;
    top: 87%;
    left: 39%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 14vw -5vh;
    box-shadow: -2vmin 0 0.46240002988150053vmin currentColor;
}
.background span:nth-child(14) {
    color: #ffffff;
    top: 60%;
    left: 49%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 6vw 7vh;
    box-shadow: -2vmin 0 1.1507633748907438vmin currentColor;
}
.background span:nth-child(15) {
    color: #ffffff;
    top: 11%;
    left: 36%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -8vw 10vh;
    box-shadow: -2vmin 0 0.4692939353208718vmin currentColor;
}
.background span:nth-child(16) {
    color: #ffffff;
    top: 63%;
    left: 9%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 10vw -20vh;
    box-shadow: 2vmin 0 0.947366568387993vmin currentColor;
}
.background span:nth-child(17) {
    color: #ffffff;
    top: 32%;
    left: 98%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 18vw 22vh;
    box-shadow: 2vmin 0 1.17672322436186vmin currentColor;
}
.background span:nth-child(18) {
    color: #ffffff;
    top: 99%;
    left: 58%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 10vw 2vh;
    box-shadow: 2vmin 0 0.5358369875113891vmin currentColor;
}
.background span:nth-child(19) {
    color: #ffffff;
    top: 75%;
    left: 43%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 16vw 6vh;
    box-shadow: 2vmin 0 0.3115328858784745vmin currentColor;
}
.background span:nth-child(20) {
    color: #ffffff;
    top: 66%;
    left: 82%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -20vw -22vh;
    box-shadow: 2vmin 0 0.404281523181927vmin currentColor;
}
.background span:nth-child(21) {
    color: #ffffff;
    top: 99%;
    left: 23%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 3vw 21vh;
    box-shadow: 2vmin 0 0.5337860779912218vmin currentColor;
}
.background span:nth-child(22) {
    color: #ffffff;
    top: 17%;
    left: 38%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -13vw -11vh;
    box-shadow: 2vmin 0 1.011172142648742vmin currentColor;
}
.background span:nth-child(23) {
    color: #ffffff;
    top: 56%;
    left: 82%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 23vw 0vh;
    box-shadow: 2vmin 0 0.5997874538520191vmin currentColor;
}
.background span:nth-child(24) {
    color: #ffffff;
    top: 62%;
    left: 24%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -17vw -8vh;
    box-shadow: 2vmin 0 0.6248413526202852vmin currentColor;
}
.background span:nth-child(25) {
    color: #ffffff;
    top: 74%;
    left: 47%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 6vw -13vh;
    box-shadow: -2vmin 0 1.2450018368607472vmin currentColor;
}
.background span:nth-child(26) {
    color: #ffffff;
    top: 66%;
    left: 22%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -14vw -9vh;
    box-shadow: 2vmin 0 0.4394069055910814vmin currentColor;
}
.background span:nth-child(27) {
    color: #ffffff;
    top: 69%;
    left: 40%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 8vw -15vh;
    box-shadow: 2vmin 0 0.8106781270836019vmin currentColor;
}
.background span:nth-child(28) {
    color: #ffffff;
    top: 64%;
    left: 29%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -12vw -15vh;
    box-shadow: -2vmin 0 0.43702737938822445vmin currentColor;
}
.background span:nth-child(29) {
    color: #ffffff;
    top: 96%;
    left: 26%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -10vw -16vh;
    box-shadow: -2vmin 0 1.0332529142649596vmin currentColor;
}
.background span:nth-child(30) {
    color: #ffffff;
    top: 19%;
    left: 65%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 8vw -17vh;
    box-shadow: -2vmin 0 0.49663408984811075vmin currentColor;
}
.background span:nth-child(31) {
    color: #ffffff;
    top: 31%;
    left: 7%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 9vw 1vh;
    box-shadow: 2vmin 0 0.9757068862780893vmin currentColor;
}
.background span:nth-child(32) {
    color: #ffffff;
    top: 21%;
    left: 19%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 22vw -2vh;
    box-shadow: -2vmin 0 1.1011647298025342vmin currentColor;
}
.background span:nth-child(33) {
    color: #ffffff;
    top: 88%;
    left: 70%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -16vw -19vh;
    box-shadow: 2vmin 0 1.1402363571482208vmin currentColor;
}
.background span:nth-child(34) {
    color: #ffffff;
    top: 2%;
    left: 11%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -11vw 15vh;
    box-shadow: 2vmin 0 0.6027697123889662vmin currentColor;
}
.background span:nth-child(35) {
    color: #ffffff;
    top: 60%;
    left: 9%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -7vw 23vh;
    box-shadow: 2vmin 0 0.7345086119264772vmin currentColor;
}
.background span:nth-child(36) {
    color: #ffffff;
    top: 34%;
    left: 78%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -13vw -16vh;
    box-shadow: -2vmin 0 0.619409357955867vmin currentColor;
}
.background span:nth-child(37) {
    color: #ffffff;
    top: 17%;
    left: 30%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 20vw 18vh;
    box-shadow: 2vmin 0 1.1694651633806132vmin currentColor;
}
.background span:nth-child(38) {
    color: #ffffff;
    top: 68%;
    left: 83%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -22vw -16vh;
    box-shadow: -2vmin 0 0.949115942248723vmin currentColor;
}
.background span:nth-child(39) {
    color: #ffffff;
    top: 36%;
    left: 87%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -2vw 21vh;
    box-shadow: 2vmin 0 0.6883695017000713vmin currentColor;
}
.background span:nth-child(40) {
    color: #ffffff;
    top: 88%;
    left: 26%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 16vw 1vh;
    box-shadow: 2vmin 0 0.708788660023828vmin currentColor;
}
.background span:nth-child(41) {
    color: #ffffff;
    top: 19%;
    left: 20%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -22vw 2vh;
    box-shadow: -2vmin 0 0.32419652905488205vmin currentColor;
}
.background span:nth-child(42) {
    color: #ffffff;
    top: 8%;
    left: 68%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -1vw 6vh;
    box-shadow: 2vmin 0 0.370016095601295vmin currentColor;
}
.background span:nth-child(43) {
    color: #ffffff;
    top: 100%;
    left: 45%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -3vw 12vh;
    box-shadow: -2vmin 0 0.48514853843909256vmin currentColor;
}
.background span:nth-child(44) {
    color: #ffffff;
    top: 88%;
    left: 32%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -6vw 22vh;
    box-shadow: -2vmin 0 0.9989786372829383vmin currentColor;
}
.background span:nth-child(45) {
    color: #ffffff;
    top: 92%;
    left: 10%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 3vw -19vh;
    box-shadow: 2vmin 0 1.091518789763144vmin currentColor;
}
.background span:nth-child(46) {
    color: #ffffff;
    top: 87%;
    left: 93%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 8vw 9vh;
    box-shadow: 2vmin 0 1.1078569714029238vmin currentColor;
}
.background span:nth-child(47) {
    color: #ffffff;
    top: 1%;
    left: 78%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -21vw 5vh;
    box-shadow: 2vmin 0 0.8437159151485902vmin currentColor;
}
.background span:nth-child(48) {
    color: #ffffff;
    top: 20%;
    left: 27%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 11vw -4vh;
    box-shadow: -2vmin 0 0.47270368347432234vmin currentColor;
}
.background span:nth-child(49) {
    color: #ffffff;
    top: 100%;
    left: 34%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -17vw 20vh;
    box-shadow: -2vmin 0 0.5780770278564449vmin currentColor;
}


.top, .mid, .bot{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top{
    justify-content: flex-start;
}

.bot{
    justify-content: flex-end;
    position: relative;
}

.mid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: url(/center-react.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    position: relative;
}

.mid img{
    width: 150px;
    height: 150px;
    filter: drop-shadow(0 0 50px #fff);
}

.mid::before {
  content: "";
  position: absolute;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 10%, transparent 80%);
  clip-path: circle(50% at 50% 50%);
  width: 100%;
  height: 100%;
  animation: smoke 2s linear infinite;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
}

.mid::before {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
}

@keyframes smoke {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.top img{
    width: 85%;
}

.bot img{
    width: 80%;
}

